.main-anchor-pane {
    -fx-background-color: #303138;
}

.left-anchor-pane {
    -fx-background-color: #F9A620;
}

.right-anchor-pane {
    -fx-background-color: #f7f3f2;
}

/*.icon-label {
    -fx-background-color: #e8ddda;
}*/

.icon {
    -fx-fill: #251819;
}

/*.txt-field {
    -fx-background-color: #f0e8e6;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #A6777C;
    -fx-text-fill: #251819;
}

.txt-field:focused {
    -fx-background-color: #e8ddda;
}*/

.login-btn {
    -fx-background-color: #F9A620 !important;
    -fx-text-fill: #251819 !important;
}

.register-label {
    -fx-text-fill: #251819;
}
